<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="Registros" value="C:\Registros\Registros.txt"/>
		<add key="Directorio" value="C:\Registros"/>
	</appSettings>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IServicioAmistades">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IServicioCorreo">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IServicioJugador">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IServicioPartida">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IServicioSala">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:9001/Contratos" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IServicioAmistades" contract="ServicioRompecabezasFei.IServicioAmistades"
                name="NetTcpBinding_IServicioAmistades">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:9001/Contratos" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IServicioCorreo" contract="ServicioRompecabezasFei.IServicioCorreo"
                name="NetTcpBinding_IServicioCorreo">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:9001/Contratos" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IServicioJugador" contract="ServicioRompecabezasFei.IServicioJugador"
                name="NetTcpBinding_IServicioJugador">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:9001/Contratos" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IServicioPartida" contract="ServicioRompecabezasFei.IServicioPartida"
                name="NetTcpBinding_IServicioPartida">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:9001/Contratos" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IServicioSala" contract="ServicioRompecabezasFei.IServicioSala"
                name="NetTcpBinding_IServicioSala">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>