<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IServicioGestionJugador">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IServicioJuego">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:9000/Contratos" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IServicioGestionJugador"
                contract="ServicioRompecabezasFei.IServicioGestionJugador"
                name="NetTcpBinding_IServicioGestionJugador">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:9000/Contratos" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IServicioJuego" contract="ServicioRompecabezasFei.IServicioJuego"
                name="NetTcpBinding_IServicioJuego">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>